@{
    <br />
    ViewBag.Title = "Welcome to About us page";
}
    <br />
<p style="text-align:center;font-size:xx-large; font-style:inherit;" class="alert-success col-md-12"> @ViewBag.Title</p>

<h3></h3>


<body>
    <div>



        <img src="~/images/Photo1.jpeg" alt="Sample Photo" /> <br />
        <h2></h2><br />
        <p style="font-style:italic; text-align:center"><strong>"@ViewBag.Motto"</strong></p><br />

        <div class="card" style="background-color:aquamarine">
            <div class="card-body">
                <p class="alert-info">

                    <h2></h2>
                <p style="font-size:x-large; text-align:center; color:darkslateblue"><strong>Our vision</strong></p>
                <p>@ViewBag.Description</p>

                <h2>@ViewBag.SubTitle</h2>

                <p style="font-size:x-large; text-align:center; color:darkslateblue"><strong>Story Writing Tips</strong></p>
                <p>@ViewBag.Tips</p>
            </div>
        </div>
        <br /><br />
    </div>

</body>

